<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dyaoming.privatelife.wechatmall.mappers.Dd02Mapper">


    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="false">
        insert into dd02
        (ddb001,ddb002,ddb004,ddb005,ddb006,ddb007,ddb008,ddb009,ddb010,ddb011,ddb016,ddb018,ddb019 )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (concat(DATE_FORMAT(sysdate(),'%Y%m%d'),LPAD(autokey('ddb001'),6,0)),
            #{item.ddb002},
            #{item.ddb004},
            #{item.ddb005},
            #{item.ddb006},
            #{item.ddb007},
            #{item.ddb008},
            #{item.ddb009},
            #{item.ddb010},
            #{item.ddb011},
            #{item.ddb016},
            #{item.ddb018},
            #{item.ddb019}
            )
        </foreach>
    </insert>
</mapper>