<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dyaoming.privatelife.wechatmall.mappers.Dd03Mapper">


    <update id="batchDelete" parameterType="java.util.List">
        update dd03
        set ddc016='0'
        where ddc004 in
        <foreach collection="l_ddc004" item="ddc004" index="index" open="(" close=")" separator=",">
            #{ddc004}
        </foreach>
        and ddc002=#{ddc002}
    </update>
</mapper>